by.bsuir.aipos.webclient/web/WEB-INF/wsdl/localhost_8086/Manual/Manual.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://service/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service/">

<xs:element name="addConcept" type="tns:addConcept"/>

<xs:element name="changeConcept" type="tns:changeConcept"/>

<xs:element name="eraseConcept" type="tns:eraseConcept"/>

<xs:element name="getAllConcepts" type="tns:getAllConcepts"/>

<xs:element name="getAllConceptsResponse" type="tns:getAllConceptsResponse"/>

<xs:element name="getConceptContent" type="tns:getConceptContent"/>

<xs:element name="getConceptContentResponse" type="tns:getConceptContentResponse"/>

<xs:element name="init" type="tns:init"/>

<xs:complexType name="init">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getConceptContent">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getConceptContentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="eraseConcept">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addConcept">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="changeConcept">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="content" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllConcepts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getAllConceptsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>