by.bsuir.aipos.webclient/src/conf/xml-resources/web-service-references/Manual/wsdl/localhost_8086/Manual/Manual.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="Manual">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://localhost:8086/Manual/Manual?xsd=1"/>
</xsd:schema>
</types>
<message name="init">
<part name="parameters" element="tns:init"/>
</message>
<message name="addConcept">
<part name="parameters" element="tns:addConcept"/>
</message>
<message name="eraseConcept">
<part name="parameters" element="tns:eraseConcept"/>
</message>
<message name="changeConcept">
<part name="parameters" element="tns:changeConcept"/>
</message>
<message name="getConceptContent">
<part name="parameters" element="tns:getConceptContent"/>
</message>
<message name="getConceptContentResponse">
<part name="parameters" element="tns:getConceptContentResponse"/>
</message>
<message name="getAllConcepts">
<part name="parameters" element="tns:getAllConcepts"/>
</message>
<message name="getAllConceptsResponse">
<part name="parameters" element="tns:getAllConceptsResponse"/>
</message>
<portType name="Manual">
<operation name="init">
<input wsam:Action="http://service/Manual/init" message="tns:init"/>
</operation>
<operation name="addConcept">
<input wsam:Action="http://service/Manual/addConcept" message="tns:addConcept"/>
</operation>
<operation name="eraseConcept">
<input wsam:Action="http://service/Manual/eraseConcept" message="tns:eraseConcept"/>
</operation>
<operation name="changeConcept">
<input wsam:Action="http://service/Manual/changeConcept" message="tns:changeConcept"/>
</operation>
<operation name="getConceptContent">
<input wsam:Action="http://service/Manual/getConceptContentRequest" message="tns:getConceptContent"/>
<output wsam:Action="http://service/Manual/getConceptContentResponse" message="tns:getConceptContentResponse"/>
</operation>
<operation name="getAllConcepts">
<input wsam:Action="http://service/Manual/getAllConceptsRequest" message="tns:getAllConcepts"/>
<output wsam:Action="http://service/Manual/getAllConceptsResponse" message="tns:getAllConceptsResponse"/>
</operation>
</portType>
<binding name="ManualPortBinding" type="tns:Manual">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addConcept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="eraseConcept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="changeConcept">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getConceptContent">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllConcepts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Manual">
<port name="ManualPort" binding="tns:ManualPortBinding">
<soap:address location="http://localhost:8086/Manual/Manual"/>
</port>
</service>
</definitions>